body{
    background: rgba(129, 132, 137, 0.835);

}

.h3 {
    color: none;
   text-decoration: none;
   display: inline-block;
   
}

.header{
    padding: 4px 20px 4px ;
    width: auto;
    text-align: left;
   
    background: rgba(129, 132, 137, 0.835);
    color: rgb(255, 255, 255);
}

.header div {
    padding-top: 15px;
    margin-right: auto;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: right;
    margin-right: 25px;
}

div {
    background: none;
}

 ul li {
 display: flex;
 justify-content: flex-end;
 display: inline-flex;
 margin-right: auto;
 
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(170, 170, 171);
    color: rgb(255, 255, 255);
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(170, 170, 171);
    color: rgb(255, 255, 255);
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(170, 170, 171);
    color: rgb(255, 255, 255);
}

img {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px;
    width: 100px;
  
}

